<body class="pace-done">
    <!-- header -->
    <%- include("../components/header.html", { withoutPriv })%>
    <!-- /header -->

    <!-- Page container -->
    <div class="page-container">

        <!-- Page content -->
        <div class="page-content">

            <xmp id="document" theme="united" style="display:none;">
                <%= docMD %>
            </xmp>

        </div>
        <!-- /page content -->

    </div>
    <!-- /page container -->

    <!-- Footer -->
	<div class="footer text-center">
        <p>欢迎STAR, &nbsp;&nbsp;&nbsp;&nbsp;<a href="https://github.com/wrz199306/datacenter" target="_blank">https://github.com/wrz199306/datacenter</a> &nbsp;&nbsp;&nbsp;&nbsp;您的支持是我最大的动力!</p>
    </div>
    <!-- /footer -->
</body>