<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>DBCenter</title>

	<!-- Global stylesheets -->
	<link href="/assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
	<link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="/assets/css/core.min.css" rel="stylesheet" type="text/css">
	<link href="/assets/css/components.min.css" rel="stylesheet" type="text/css">
	<link href="/assets/css/colors.min.css" rel="stylesheet" type="text/css">
	<link href="/assets/css/pages/login.css" rel="stylesheet">
	<!-- /global stylesheets -->

	<!-- Core JS files -->
	<script type="text/javascript" src="/assets/js/lib/pace.min.js"></script>
	<script type="text/javascript" src="/assets/js/lib/jquery.min.js"></script>
	<script type="text/javascript" src="/assets/js/lib/bootstrap.min.js"></script>
	<script type="text/javascript" src="/assets/js/lib/nicescroll.min.js"></script>
	<script type="text/javascript" src="/assets/js/lib/drilldown.js"></script>
	<script type="text/javascript" src="/assets/js/lib/pnotify.min.js"></script>
	<!-- /core JS files -->

	<!-- Theme JS files -->
	<script type="text/javascript" src="/assets/js/lib/validate.min.js"></script>
	<script type="text/javascript" src="/assets/js/lib/uniform.min.js"></script>
	<script type="text/javascript" src="/assets/js/lib/spin.min.js"></script>
	<script type="text/javascript" src="/assets/js/lib/ladda.min.js"></script>
	<script type="text/javascript" src="/assets/js/lib/bootbox.min.js"></script>
	<script type="text/javascript" src="assets/js/lib/core.min.js"></script>
	<script type="text/javascript" src="assets/js/lib/selectboxit.min.js"></script>
	<script type="text/javascript" src="assets/js/lib/datatables.min.js"></script>
	<script type="text/javascript" src="assets/js/lib/select2.min.js"></script>
	<script type="text/javascript" src="assets/js/lib/touchspin.min.js"></script>
	<!-- /theme JS files -->
	<script src="/assets/js/app.js"></script>

</head>

<%- body %>
</html>
