<link href="/assets/css/pages/login.css" rel="stylesheet">
<script type="text/javascript" src="/assets/js/pages/login.js"></script>

<body class="login-container login-cover">
	<!-- Page container -->
	<div class="page-container">

		<!-- Page content -->
		<div class="page-content">

			<!-- Main content -->
			<div class="content-wrapper">

				<!-- Tabbed form -->
				<div class="tabbable panel login-form width-400">
					<ul class="nav nav-tabs nav-justified">
						<li class="active"><a id="loginTab" href="#login" data-toggle="tab"><h6 class="text-semibold">登陆</h6></a></li>
						<li><a href="#register" data-toggle="tab"><h6 class="text-semibold">注册</h6></a></li>
					</ul>
					
					<div class="tab-content panel-body">
						<!-- 登陆 -->
						<div class="tab-pane fade in active" id="login">
							<form id="loginForm">
								<div class="text-center">
									<div class="icon-object border-slate-300 text-slate-300"><i class="icon-reading"></i></div>
									<h5 class="content-group">欢迎来到DBCenter</h5>
								</div>

								<div class="form-group has-feedback-left">
									<input id="loginPhone" name="phone" type="text" class="form-control" placeholder="请输入手机号">
									<div class="form-control-feedback">
										<i class="icon-iphone text-muted"></i>
									</div>
								</div>

								<div class="form-group has-feedback-left">
									<input id="loginPassword" name="password" type="password" class="form-control" placeholder="请输入密码">
									<div class="form-control-feedback">
										<i class="icon-lock2 text-muted"></i>
									</div>
								</div>

								<div class="form-group login-options">
									<div class="row">
										<div class="col-sm-6">
											<label class="checkbox-inline">
												<input id="remember" type="checkbox" class="styled">
												记住手机号
											</label>
										</div>

										<div class="col-sm-6 text-right">
											<a id="getpwdBtn" href="javascript:void(0)">忘记密码</a>
										</div>
									</div>
								</div>

								<div class="form-group">
									<button id="loginBtn" class="btn bg-blue btn-ladda btn-block" data-style="slide-right">登陆 <i class="icon-arrow-right14 position-right"></i></button>
								</div>
							</form>
							
							<span class="help-block text-center no-margin">
								DBCenter是专为前端开发者提供的接口调用平台。可以通过系统，添加数据表、数据表字段，通过相应的接口，完成对数据库增删改查的操作。点击查看<a href="https://github.com/wrz199306/dbcenter" target="_blank">接口文档</a></span>
						</div>
						<!-- /登陆 -->

						<!-- 注册 -->
						<div class="tab-pane fade" id="register">
							<form id="registerForm" class="register-form">
								<div class="text-center">
									<div class="icon-object border-success text-success"><i class="icon-plus3"></i></div>
									<h5 class="content-group">欢迎来到DBCenter</h5>
								</div>
								
								<div class="form-group has-feedback-left">
									<input type="text" id="registerPhone" name="phone" class="form-control" placeholder="请输入手机号">
									<div class="form-control-feedback">
										<i class="icon-iphone text-muted"></i>
									</div>
								</div>

								<div class="form-group has-feedback-left">
									<input type="password" id="registerPassword" name="password" class="form-control" placeholder="请输入密码">
									<div class="form-control-feedback">
										<i class="icon-lock2 text-muted"></i>
									</div>
								</div>

								<div class="form-group has-feedback-left">
									<input type="password" name="repeat_password" class="form-control" placeholder="请再次输入密码">
									<div class="form-control-feedback">
										<i class="icon-lock2 text-muted"></i>
									</div>
								</div>

								<div class="form-group has-feedback-left">
									<input type="text" name="pin" class="register-pin-int form-control" placeholder="请输入验证码">
									<span class="register-pin-btn input-group-btn">
										<button id="sendPhonePin" disabled class="btn btn-default" type="button">获取验证码</button>
									</span>
									<div class="form-control-feedback">
										<i class="icon-pencil5 text-muted"></i>
									</div>
								</div>

								<button id="registerBtn" type="button" class="btn bg-purple-400 btn-ladda btn-block" data-style="slide-right">
									<span class="ladda-label">
										注册 <i class="icon-circle-right2 position-right"></i>
									</span>
								</button>
							</form>
						</div>
						<!-- /注册 -->
					</div>

					<!-- 找回密码 -->
					<div id="getpwd" class="getpwd-wrapper panel panel-flat">
						<div class="panel-heading">
							<h6 class="panel-title">
								<span id="backBtn" class="getpwd-backBtn">
									<i class="icon-arrow-left8"></i>
									返回
								</span>
							</h6>
						</div>
						
						<div class="panel-body">
							<!-- 找回密码表单 -->
							<form id="getPwdForm">
								<div class="text-center">
									<div class="icon-object border-warning text-warning"><i class="icon-spinner11"></i></div>
									<h5 class="content-group">找回密码<small class="display-block">我们会将您的密码已短信的形式发送到您的手机上</small></h5>
								</div>
		
								<div class="form-group has-feedback-left">
									<input id="getpwdPhone" class="form-control" name="phone" placeholder="请输入您的手机号">
									<div class="form-control-feedback">
										<i class="icon-iphone text-muted"></i>
									</div>
								</div>
								<button id="getPwdBtn" class="btn bg-info btn-ladda btn-block" data-style="slide-right">找回密码<i class="icon-arrow-right14 position-right"></i></button>
							</form>
							<!-- /找回密码表单 -->
						</div>
					</div>
					<!-- / 找回密码 -->
				</div>
				<!-- /tabbed form -->

			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->

	</div>
	<!-- /page container -->

	<!-- Footer -->
	<div class="footer text-center">
		<p><a href="https://github.com/wrz199306/dbcenter" class="text-white" target="_blank">欢迎STAR, 您的支持是我最大的动力!</a></p>
		<p><a href="https://github.com/wrz199306/dbcenter" class="text-white" target="_blank">https://github.com/wrz199306/dbcenter</a></p>
	</div>
	<!-- /footer -->
</body>
