.login-form {
    position: relative;
    overflow: hidden;
}

/* 注册 */
.register-form {
    padding-bottom: 3px;
}
/* 验证码 */
.register-pin-int {
    width: 60%;
}
.register-pin-btn {
    width: 39%;
    position: absolute;
    top: 0;
    right: 0;
}
.register-pin-btn button {
    width: 100%;
}

/* 找回密码 */
.getpwd-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 519px;
    z-index: 100;
    transform: translateY(-100%);
    transition: all .5s;
}
.getpwd-wrapper.active {
    transform: translateY(0);
}
/* 返回登陆界面按钮 */
.getpwd-backBtn {
    cursor: pointer;
}